<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Partyhall - Contacto</title>
  <link rel="stylesheet" href="..\node_modules\materialize-css\dist\css\materialize.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
  <script src="../public/app.js"></script>
</head>

<body>
  <header>

  </header>
  <main>

  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Partyhall</h5>
          <h6>Organización de eventos en México DF</h6>
          <p class="grey-text text-lighten-4">Tel. 01(55)-5271-2032</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Partyhall
        <a class="grey-text text-lighten-4 right" href="https://twitter.com/HeberGB">Twitter</a>
      </div>
    </div>
  </footer>
</body>

</html>