* {
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
}

nav .logo,
h1 {
  font-family: 'Lobster', cursive;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer h5 {
  font-family: 'Lobster', cursive;
}

.logo {
  margin-left: 20px;
}

.page-footer,
nav {
  background-color: #898cf4 !important;
}

h1 {
  color: #898cf4;
}

.images {
  width: 100%;
}

.eventos {
  margin-left: 20px;
}

.tarjeta-evento:nth-child(2) {
  background-image: url('../assets/graduacion.png') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(3) {
  background-image: url('../assets/boda.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(4) {
  background-image: url('../assets/bautizo.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(5) {
  background-image: url('../assets/xv.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(6) {
  background-image: url('../assets/familia.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(7) {
  background-image: url('../assets/negocios.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(8) {
  background-image: url('../assets/otro.jpg') !important;
  background-size: cover;
}

.chip {
  margin-top: 20px;
  cursor: pointer;
}

.plato {
  width: 100px;
}