* {
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
}

nav .logo,
h1 {
  font-family: 'Lobster', cursive;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer h5 {
  font-family: 'Lobster', cursive;
}

.logo {
  margin-left: 20px;
}

.page-footer,
nav {
  background-color: #898cf4 !important;
}

h1 {
  color: #898cf4;
}

.images {
  width: 100%;
}

.eventos {
  margin-left: 20px;
}

.tarjeta-evento:nth-child(2) {
  background-image: url('../assets/graduacion.png') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(3) {
  background-image: url('../assets/boda.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(4) {
  background-image: url('../assets/bautizo.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(5) {
  background-image: url('../assets/xv.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(6) {
  background-image: url('../assets/familia.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(7) {
  background-image: url('../assets/negocios.jpg') !important;
  background-size: cover;
}

.tarjeta-evento:nth-child(8) {
  background-image: url('../assets/otro.jpg') !important;
  background-size: cover;
}

.chip {
  margin-top: 20px;
  cursor: pointer;
}

.plato {
  width: 100px;
}

.draggable {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.mesero {
  width: 50px;
  height: 50px;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 520px;
  background-image: url('../assets/piso.jpg');
}

.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  padding: 0;
  color: #fff;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop img {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}